body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

nav {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    
    background-color: white;
}

footer {
    background-color: #222;
    color: #ccc;
    text-align: center;
    padding: 10px;
}

.text-center{
    text-align: center;
}

.container{
    text-align: center;
    background-color: rgb(238, 238, 238);
    padding: 15px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    color: black;
    -webkit-text-stroke: 1px white;
}

.bienvenido{
    align-content: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: justify;
    background-color: rgb(255, 255, 255);
    width: 60%;
    border-radius: 5px;
}